# QUESTION 1

In [31]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [32]:
# the function c(a) is called and the value of a is 0. This returns 2. Hence the function b() returns the new value of a as 2, but is not printed out
b()

In [33]:
# the function c(a) is called and the value of a is 2. This returns 4. Hence the function b() returns the new value of a as 4 but is not printed out
b()

In [34]:
# the function c(a) is called and the value of a is 4. This returns 6. Hence the function b() returns the new value of a as 6 but is not printed out
b()

In [35]:
print(a)

6

# QUESTION 2

In [63]:
def fileLength(data):
    'converts first line of file filename to an integer and prints it'
    try:
        infile = open(data,'r')
        fLenght = infile.read()
        infile.close()
        return len(fLenght)
        
    
    except :
        print('This file does not exist')
        

fileLength('midterm.py')

358

In [62]:
def fileLength(data):
    'converts first line of file filename to an integer and prints it'
    try:
        infile = open(data,'r')
        fLenght = infile.read()
        infile.close()
        return len(fLenght)
    
    except :
        print('This file does not exist')
        

fileLength('idterm.py')

This file does not exist

# QUESTION 3

In [20]:
class Marsupial:

#this initializes the empty list
    def __init__(self):
        self.item =[]
      
#this ensures the list is being populated for everytime an object is created using this function
    def put_in_pouch(self, x):
        self.item.append(x)

#this prints out the final list
    def pouch_contents(self):
        print(self.item)
        
     
m = Marsupial()
m.put_in_pouch('doll')

m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [21]:
class Kangaroo (Marsupial):
        
    def jump (self, dx, dy):
        self.x += dx
        self.y += dy
        print('I am a Kangaroo located at ({},{})'.format(self.x,self.y) )

k = Kangaroo(0,0)

print(k)

TypeError: __init__() takes 1 positional argument but 3 were given

# QUESTION 4

In [84]:
from tkinter import *

root = Tk() 

#Creating Frames
leftFrame = LabelFrame(root , width = 500, height = 300, padx=40,pady=40)
leftFrame.pack(side=LEFT)
rightFrame = LabelFrame(root, width = 200, height = 200)
rightFrame.pack(side=RIGHT)

#LEFT FRAME
#Creating the labels and Input boxes
labelOne = Label(leftFrame, text= 'Loan Amount:')
labelOne.grid(row = 1)
entryOne = Entry(leftFrame)
entryOne.grid (row=1, column = 1)

labelTwo = Label(leftFrame, text= 'Interest rate:')
labelTwo.grid(row = 2)
entryTwo = Entry(leftFrame)
entryTwo.grid (row=2, column = 1)

labelThree = Label(leftFrame, text= 'Loan terms:')
labelThree.grid(row = 3)
entryThree = Entry(leftFrame)
entryThree.grid (row=3, column = 1)

buttonOne = Button(leftFrame, text= 'Compute mortgage')
buttonOne.grid (row=4)
outputFour = Entry(leftFrame)
outputFour.grid (row=4, column = 1)


#RIGHT FRAME
#Creating the Input boxes
entryOneRight = Entry(rightFrame, borderwidth = 5,bg = 'grey')
entryOneRight.grid(row =0, column=0,columnspan =5, padx =10, pady=10)

#Creating Differnt Buttons
buttonA = Button(rightFrame, text='MC',padx =5, pady=5)
buttonA.grid(row=1, column=0)
buttonB = Button(rightFrame, text='M+',padx =5, pady=5)
buttonB.grid(row=1, column=1)
buttonC = Button(rightFrame, text='M-',padx =5, pady=5)
buttonC.grid(row=1, column=2)
buttonD = Button(rightFrame, text='MR',padx =5, pady=5)
buttonD.grid(row=1, column=3)

buttonU = Button(rightFrame, text=' C ',padx =5, pady=5)
buttonU.grid(row=2, column=0)
buttonV = Button(rightFrame, text=' √ ',padx =5, pady=5)
buttonV.grid(row=2, column=1)
buttonW = Button(rightFrame, text=' x² ',padx =5, pady=5)
buttonW.grid(row=2, column=2)
buttonX = Button(rightFrame, text=' + ',padx =5, pady=5)
buttonX.grid(row=2, column=3)

buttonE = Button(rightFrame, text=' 7 ',padx =5, pady=5)
buttonE.grid(row=3, column=0)
buttonF = Button(rightFrame, text=' 8 ',padx =5, pady=5)
buttonF.grid(row=3, column=1)
buttonG = Button(rightFrame, text=' 9 ',padx =5, pady=5)
buttonG.grid(row=3, column=2)
buttonH = Button(rightFrame, text=' - ',padx =5, pady=5)
buttonH.grid(row=3, column=3)

buttonI = Button(rightFrame, text=' 4 ',padx =5, pady=5)
buttonI.grid(row=4, column=0)
buttonJ = Button(rightFrame, text=' 5 ',padx =5, pady=5)
buttonJ.grid(row=4, column=1)
buttonK = Button(rightFrame, text=' 6 ',padx =5, pady=5)
buttonK.grid(row=4, column=2)
buttonL = Button(rightFrame, text=' * ',padx =5, pady=5)
buttonL.grid(row=4, column=3)

buttonM = Button(rightFrame, text=' 1 ',padx =5, pady=5)
buttonM.grid(row=5, column=0)
buttonN = Button(rightFrame, text=' 2 ',padx =5, pady=5)
buttonN.grid(row=5, column=1)
buttonO = Button(rightFrame, text=' 3 ',padx =5, pady=5)
buttonO.grid(row=5, column=2)
buttonP = Button(rightFrame, text=' / ',padx =5, pady=5)
buttonP.grid(row=5, column=3)

buttonQ = Button(rightFrame, text=' 0 ',padx =5, pady=5)
buttonQ.grid(row=6, column=0)
buttonR = Button(rightFrame, text=' . ',padx =5, pady=5)
buttonR.grid(row=6, column=1)
buttonS = Button(rightFrame, text=' ± ',padx =5, pady=5)
buttonS.grid(row=6, column=2)
buttonT = Button(rightFrame, text=' = ',padx =5, pady=5)
buttonT.grid(row=6, column=3)

root.mainloop()

# QUESTION 5

In [14]:

def collatz(x):
   
    #Defines the base step
    if x == 1:
        return x

    #Defines the recursive step
    else:
        if x%2 == 0:
            print(int(x/2))
            collatz(x/2)
        else:
            print(int(3*x + 1))
            collatz(3*x + 1)
        
collatz(int(10))

5
16
8
4
2
1

# QUESTION 6

In [73]:
while True:
    try:
        x = int(input('Enter a number\n'))
        if x>=0:
            output = bin(x)
            print(output[2:])
            break
    except:
        print('Enter a non-negative number')

Enter a number
67
1000011

# QUESTION 7

In [37]:
from urllib.request import urlopen

from html.parser import HTMLParser
class MyHTMLParser(HTMLParser):
    'HTML doc parser that prints tags indented '
    
    def __init__(self):
        'initializes the parser and the initial indentation'
        HTMLParser.__init__(self)
        self.indent = 0            # initial indentation value

    def handle_starttag(self, tag, attrs):
        '''prints start tag with an indentation proportional
           to the depth of the tag's element in the document'''
        if tag not in {'br','p'}:
            print('{}{} start'.format(self.indent*' ', tag))
            self.indent += 4

    def handle_endtag(self, tag):
        '''prints end tag with an indentation proportional
           to the depth of the tag's element in the document'''
        if tag not in {'br','p'}:
            self.indent -= 4
            print('{}{} end'.format(self.indent*' ', tag))

class LinkParser(HTMLParser):

    def handle_starttag(self, tag, attrs):
        #print value of href attribute if any
        if tag == 'a':
            # search for href attribute and print its value
            for attr in attrs:
                if attr[0] == 'href':
                    print(attr[1])

url = 'http://www.w3.org/Consortium/mission.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector()
collector.feed(content)
collector.getLinks()

#Unable to gt this to work

NameError: name 'Collector' is not defined

# QUESTION 8

In [ ]:
#Unable to attempt.

# QUESTION 9

In [50]:
import sqlite3
con = sqlite3.connect('web.db')
cur = con.cursor()

In [51]:
cur.execute("CREATE TABLE weatherReport (City, Country, Season, Temperature, Rainfall )")

OperationalError: table weatherReport already exists

In [52]:
cur.execute("INSERT INTO weatherReport VALUES ('Mumbai','India','Spring','28.4','16.2')")
cur.execute("INSERT INTO weatherReport VALUES ('Mumbai','India','Summer','27.9','1549.4')")
cur.execute("INSERT INTO weatherReport VALUES ('Mumbai','India','Fall','27.6','346.0')")
cur.execute("INSERT INTO weatherReport VALUES ('London','United Kingdom','Winter','4.2','207.7')")
cur.execute("INSERT INTO weatherReport VALUES ('London','United Kingdom','Spring','8.3','169.6')")
cur.execute("INSERT INTO weatherReport VALUES ('London','United Kingdom','Summer','15.7','157.0')")
cur.execute("INSERT INTO weatherReport VALUES ('London','United Kingdom','Fall','10.4','218.5')")
cur.execute("INSERT INTO weatherReport VALUES ('Cario','Egypt','Winter','13.6','16.5')")
cur.execute("INSERT INTO weatherReport VALUES ('Cario','Egypt','Spring','20.7','6.5')")
cur.execute("INSERT INTO weatherReport VALUES ('Cario','Egypt','Summer','27.7','0.1')")
cur.execute("INSERT INTO weatherReport VALUES ('Cario','Egypt','Fall','22.2','4.5')")

In [53]:
con.commit()
con.close()

#### Question 9a - All the temperature data.

In [54]:

import sqlite3
con = sqlite3.connect('links.db')
cur = con.cursor()
cur.execute('SELECT Temperature FROM weatherReport')

for i in cur:
    print(i)

('28.4',)
('27.9',)
('27.6',)
('4.2',)
('8.3',)
('15.7',)
('10.4',)
('13.6',)
('20.7',)
('27.7',)
('22.2',)

#### Question 9b -All the cities, but without repetition.

In [55]:

import sqlite3
con = sqlite3.connect('links.db')
cur = con.cursor()
cur.execute('SELECT DISTINCT City FROM weatherReport')

for i in cur:
    print(i)

('Mumbai',)
('London',)
('Cario',)

#### Question 9c - All the records for India.

In [56]:

import sqlite3
con = sqlite3.connect('links.db')
cur = con.cursor()
cur.execute('SELECT * FROM weatherReport WHERE Country= "India"')

for i in cur:
    print(i)

('Mumbai', 'India', 'Spring', '28.4', '16.2')
('Mumbai', 'India', 'Summer', '27.9', '1549.4')
('Mumbai', 'India', 'Fall', '27.6', '346.0')

#### Question 9d - All the Fall records.

In [57]:

import sqlite3
con = sqlite3.connect('links.db')
cur = con.cursor()
cur.execute('SELECT * FROM weatherReport WHERE Season= "Fall"')

for i in cur:
    print(i)

('Mumbai', 'India', 'Fall', '27.6', '346.0')
('London', 'United Kingdom', 'Fall', '10.4', '218.5')
('Cario', 'Egypt', 'Fall', '22.2', '4.5')

#### Question 9e - The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [58]:

import sqlite3
con = sqlite3.connect('links.db')
cur = con.cursor()
cur.execute('SELECT City, Country, Season FROM weatherReport WHERE Rainfall BETWEEN "200" AND "400"')

for i in cur:
    print(i)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Cario', 'Egypt', 'Fall')

#### Question 9f - The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

In [59]:

import sqlite3
con = sqlite3.connect('links.db')
cur = con.cursor()
cur.execute('SELECT City, Country FROM weatherReport WHERE Season ="Fall" AND Temperature >= "20" ORDER BY Temperature')

for i in cur:
    print(i)

('Cario', 'Egypt')
('Mumbai', 'India')

#### Question 9g - The total annual rainfall for Cario.

In [60]:

import sqlite3
con = sqlite3.connect('links.db')
cur = con.cursor()
cur.execute('SELECT SUM(Rainfall),City FROM weatherReport WHERE City ="Cario" ')

for i in cur:
    print(i)

(27.6, 'Cario')

#### Question 9h - The total rainfall for each season

In [61]:

import sqlite3
con = sqlite3.connect('links.db')
cur = con.cursor()
cur.execute('SELECT SUM(Rainfall),Season FROM weatherReport GROUP BY Season ')

for i in cur:
    print(i)

(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(224.2, 'Winter')

# QUESTION 10

In [89]:
word=['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

newWordOne = []
newWordTwo = []
newWordThree = []

for i in word:
    newWordOne.append(i.upper())  #Changes each element in the list to upper case
    
for i in word:
    newWordTwo.append(i.lower())  #Changes each element in the list to lower case

for i in word:
    newWordThree.append(len(i))   #Calculates the lenght of each element in the list

#Question 10a
print(newWordOne)


#Question 10a
print(newWordTwo)


#Question 10c
print(newWordThree)


#Question 10d
wordCombine = zip(newWordOne,newWordTwo,newWordThree)

list(map(list, wordCombine))

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

#### Question 10e

In [90]:
fourLetterWords = []

for i in word:
    if len(i)>=4:
        fourLetterWords.append(i)
        
print(fourLetterWords)

['quick', 'brown', 'jumps', 'over', 'lazy']